.insta_logo_png {
	height: auto;
	width: 30%;
}

.navbar_container{
	position: fixed;
	bottom: 1%;
	left: 0%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 1vh;
	border-top: solid 1px black;
	background-color: white;
}

.stories_container{
	display: flex;
	flex-direction: row;
	border-bottom: solid 1px black;
	border-top: solid 1px black;
	padding: 1vh 0vh 1vh 0vh;
}

.navbar_icons {
	display: inline-block;
	margin: 0vh 3.5vh 0vh 3.5vh;
}
.messenger_icon {
	display: inline-block;
	position: fixed;
	top: 2%;
	right: 4%;

}

.appbar_home {
	display: inline-block;

}

.navbar_avatar {
	font-size: 5%;
	margin: 0vh 0vh 0vh 3.5vh
}

.appbar_home_create_icon {
	display: inline-block;
	position: fixed;
	top: 2%;
	left: 4%;
}


.search_input {
	padding: 0.5vh 3vh 3vh 0.5vh;
	width: 70%;
	height: 0.5vh;
	background-color: #dbdbdb;
	margin: 2vh 2vh 1vh 2vh;
	border-radius: 0.5vh 0.5vh 0.5vh 0.5vh;
	border: solid 1px white;

}

input:focus  {
	outline-width: 0;
}

.appbar_profile_info {
	margin: 0vh 0vh 0vh 19vh;
}

.appbar_profile_head {
	display: inline-block;
}

#following_text {
	margin: 0vh 0vh 0vh 6vh;
}

#follower_text {
	margin: 0vh 0vh 0vh 2vh
}

.settings_icon {
	position: fixed;
	top: 2%;
	right: 4%;
}

.login_btn {
	text-align: center;
	position: fixed;
	bottom: 70%;
}

.signup_button {
	background-color: blue;
}

.notification_bar {
	display: flex;
	margin: 2vh 0vh 2vh 0vh;
	border-bottom: solid 1px black;
}

#notification_avatar {
	margin-right: 1vh;
}

#notification_text {
	margin-right: 1vh;
}

.notification_text {
	display: inline-block;
}

.term_text {
	position: fixed;
	bottom: 5%;
	left: 4%;
}


.inner_modal{
	position: fixed;
	top: 35%;
	left: 50%;
	height: 40vh;
	width: 90%;
	transform: translate(-50%, -50%);
	background-color: white;
	z-index: 1000;
}

.outer_modal{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 1000;
}


.room_avatar {
	display: inline-block;
}

.search_input_room{
	display: inline-block;
        padding: 0.5vh 3vh 3vh 0.5vh;
        width: 65%;
        height: 0.5vh;
        background-color: #dbdbdb;
        margin: 0vh 3vh 1vh 2vh;
        border-radius: 0.5vh 0.5vh 0.5vh 0.5vh;
        border: solid 1px white;

}

.room_appbar_div {
	display: flex;

}

.chat {
	display: flex;
	flex-direction: column;
	flex: 0.65;
}
.chat_header {
	padding: 3px;
	display: flex;
	align-items: center;
	border-bottom: solid 1px lightgray;
}

.chat_header_info {
	flex: 1;
}

.chat_header_icons {

}

.chat_header_info > p {
	color: gray;
}

.chat_body {
	height: 82vh;
	min-height: 100%;
	background-image: url('https://firebasestorage.googleapis.com/v0/b/what-sapp-clone-f427e.appspot.com/o/images%20-%202020-12-31T011720.878.jpeg?alt=media&token=fe7bfddd-ab2a-43c6-bde1-97da41e042db');
	background-position: center;
	background-repeat: repeat;
	overflow: scroll;
}

.chat_message {
	position: relative;
	width: fit-content;
	background-color: white;
	border-radius: 10px;
	padding: 5px;;
}

.chat_name {
	position: absolute;
	top: -15px;
	font-weight: 800;
	margin-bottom: 15px;
	margin-right: 3px;
	font-size: 90%;
}

.chat_timestamp {
	margin-left: 10px;
	font-size: x-small;
}


.chat_message_receive {
	margin-left: auto;
	background-color: #dcf8c6;
	position: relative;
        width: fit-content;
	padding: 5px;
        border-radius: 10px;
}

.chat_footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: solid 1px lightgray;

}

.chat_footer > form {
	flex: 1;
	display: flex;
}

.chat_footer > form > input {
	flex: 1;
	border-radius: 30px;
	border: none;
	
}
